{% extends 'includes/base.html' %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block content %}
<!-- Images Section START -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-5">About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- static/mediaaaaa (oh-ohohohoh)/img (imagegegegegeg)/hamster tiny weeny.jpg -->
            <img src="{% static 'static/mediaaaaa (oh-ohohohoh)/img (imagegegegegeg)/hamster tiny weeny.jpg' %}" class="img-fluid" alt="About">
        </div>
        <div class="col-md-6">
            <h2>Blog App</h2>
            <h3>Read this sentence:</h3>
            <blockquote>"Paris in the the spring."</blockquote>
            <p>Did you notice the mistake? Most people don't catch the repeated word "the" on their first read. This is a simple example of how our brains can sometimes fill in gaps or overlook details when we're processing familiar patterns</p>
        </div>
    </div>
</div>
<!-- Images Section END -->

{% endblock %}